:root {
    --azul-escuro: #0A192F;
    --branco: #FFFFFF;
    --roxo: rgb(86, 24, 86);
}

.timeline {
    padding: 4rem 2rem;
    color: var(--branco);
    text-align: center;
}

.timeline h2 {
    font-family: "DM Serif Text", serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: var(--branco);
}

.timeline-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 4px;
    background: var(--roxo);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-item {
    padding: 1rem 2rem;
    position: relative;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 57px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--roxo);
    border: 3px solid var(--azul-escuro);
    z-index: 1;
}

.timeline-item:nth-child(odd)::before {
    right: -15px;
}

.timeline-item:nth-child(even)::before {
    left: -10px;
}

.timeline-content {
    padding: 1rem;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border: 1px solid var(--roxo);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.timeline-content:hover {
    transform: translateY(-6px);
}


.timeline-content h3 {
    color: var(--roxo);
    margin-bottom: 0.5rem;
}

.timeline-content p {
    color: var(--branco);
    font-size: 0.95rem;
}

/* RESPONSIVIDADE - TIMELINE */

/* Tablets */
@media (max-width: 900px) {

    .timeline-container::after {
        left: 30px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 60px;
        padding-right: 20px;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        left: 0;
        text-align: left;
    }

    .timeline-item::before {
        left: 20px;
        right: auto;
        top: 32px;
    }
}

/* Celulares */
@media (max-width: 600px) {

    .timeline {
        padding: 3rem 1rem;
    }

    .timeline h2 {
        font-size: 1.5rem;
    }

    .timeline-container {
        padding: 0;
    }

    .timeline-item {
        padding-left: 55px;
        padding-right: 10px;
    }

    .timeline-content {
        padding: .9rem;
    }

    .timeline-content h3 {
        font-size: 1rem;
    }

    .timeline-content p {
        font-size: 0.9rem;
    }
}