:root {
  --branco: #FFFFFF;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: transparent;
  backdrop-filter: blur(1px);
  color: var(--branco);
}

footer a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

footer a:hover {
  opacity: 0.8;
}